*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #ffcdd4;
}
h2{
    color: #8f1fcf;
    font-family: 'Mali', cursive;
}
.contenedor{
    width: 650px;
    height: auto;
    background: #fffeba;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
    display: block;
    border-radius: 0px 40px 40px 40px;
}

.input-tarea{
    margin-top: 10px;
    display: flex;
}

.tareaNueva{
    width: 300px;
    border:none;
	border-bottom: 2px solid #666;
	background: none;
    font-size: 16px;
    font-family: 'Mali', cursive;
}

.btn-agregar{
    margin-left: 2%;
    width: 100px;
    color: #f2ebf3;
    background: #640ba7;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Mali', cursive;
    border-radius: 5px;
}

.tarea-individual{
    margin: 10px;
    font-family: 'Mali', cursive;
}

.btn-limpiar{
    margin-left: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    color: #f2ebf3;
    background: #ff6961;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Mali', cursive;
    border-radius: 5px;
}
.icono{
    margin: 0px 10px 0px 3px;
    width: 40px;
}
#eliminarTarea{
    background-color: wheat;
    border: none;
    border-radius: 40px;
    position: absolute;
    left: 1%;
}
#elemento{
    border-bottom:tomato solid 1px;
    margin: 3%;
}